.CodeMirror{
    height: 40vh !important;
    max-width: 100% !important;
    font-size: 1.2rem;
    color: white;
}
.CodeMirror-gutters{
    background: #000000 !important;
    border: 0px;
}
.CodeMirror-scroll{
    background:#0b0e32 !important ;

}